.login {

}

.login .item {
  margin-bottom: 7px;
}

.login .others {
  margin-top: 15px;
  border-top: solid #CCCCCC 1px;
  padding-top: 5px;

  .logo {
    font-size: 2em;
    i {
      padding-right: 10px;
    }
  }
}

