@item-hight: 40px;

.navigation {
  height: 480px;
  //background: url("../../common/image/index.jpg") no-repeat center / cover;
}

.navigation .item {
  display: block;
  width: 100%;
  height: @item-hight;
  line-height: @item-hight;
  font-size: 1.5em;
  color: #fefefe;
  text-align: center;
}
