@header-height: 32px;

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  min-width: 900px;
  height: @header-height;
  ul {
   list-style-type:none;
   font-size: 1.125em;
   color: rgba(0,0,0, 0.8);
 }
 .search ul li {
   float: left;
   display: inline-block;
   line-height: @header-height;
   padding-left: 10px;

   .header--search-style{
    margin-top: 2px;
    height: 28px;
}
 }
 .share ul li {
   float: right;
   line-height: @header-height;
   padding-right: 15px;
   font-size: 1.125em;
   img {
       display: block;
       margin-top: 4px;
   }
 }
}
