@header-height: 50px;

.header {
  background-color: #fff;
  height: @header-height;
  ul {
   list-style-type:none;
   font-size: 1.125em;
   color: rgba(0,0,0, 0.8);
 }
 .search ul li {
   float: left;
   display: inline-block;
   line-height: @header-height;
   padding-left: 10px;
 }
 .share ul li {
   float: right;
   line-height: @header-height;
   padding-right: 15px;
   font-size: 1.125em;
   img{
     padding-top: 12px;
   }
 }
}
