.footer {
  color: #fefefe;
  font-size: 1.125em;
  background-color: #14AE68;
  .footerBg {
    padding-top: 15px;
    background: url("../../common/image/footer.png") no-repeat top;
    background-size: 100%;
  }
  .title {
    color: #ffffff;
    font-size: 1.25em;
    padding-top: 10px;
  }
  .wechat {
    margin: 30px 30px 40px 0;
    text-align: center;
  }
}
