.home {
  .hot {
    margin-top: 30px;
    margin-bottom: 15px;
    .login {
      padding: 0 10px;
    }
    .item {
      font-size: 1.5em;
      text-align: center;
      margin-bottom: 16px;
      color: white;
    }
  }

  .about {
    height: 480px;
    background: url("../../common/image/index_01.jpg") no-repeat center / cover;
  }
  .aboutDetail {
    margin-top: 30px;
    margin-bottom: 15px;
    .item {
      background-color: #9C3;
      padding: 50px 0;
      width: 100%;
      color: #fcfcfc;
      font-size: 1.5em;
      text-align: center;
      margin-bottom: 16px;
      &:hover {
        background-color: #096;
      }
    }
  }

  .activity {
    height: 480px;
    background: url("../../common/image/index_02.jpg") no-repeat center / cover;
  }
  .activityDetail {
    margin-top: 30px;
    margin-bottom: 15px;
    .item {
      width: 100%;
      margin-bottom: 30px;
      background-color: #0b97c4;
      .title {
        background: url("../../common/image/index_activity_item.png") no-repeat center;
        background-size: 50%;
        text-align: center;
        color: #fcfcfc;
        font-size: 1.5em;
        padding: 20px;
        z-index: 100;
      }
    }
  }

  .others {
    margin-top: 50px;
    background-color: #F2F2F2;
    .list {
      padding: 50px 10px 50px 10px;
    }
    .list:hover {
      background-color: #fcfcfc;
    }
    .item:hover {
      background-color: #fcfcfc;
    }
    .title {
      background: url("../../common/image/others_item_bg.png") no-repeat center;
      display: block;
      padding: 10px;
      width: 100%;
      font-size: 1.5em;
      text-align: center;
      &:hover {
        font-weight: bold;
        font-size: 1.6em;
      }
    }
    .item {
      width: 100%;
      padding-bottom: 20px;
      background-color: #F2F2F2;
      .cop:hover {
        color: #cc0066;
      }
      .vol:hover {
        color: #003399;
      }
      .new:hover {
        color: #ff6600;
      }
    }
  }

  .partners {
    margin-top: 50px;
    margin-bottom: 15px;
    .title {
      text-align: center;
      font-size: 2em;
      margin-bottom: 20px;
      background: url("../../common/image/index_partner.png") no-repeat center;
      background-size: 80%;
    }
    .item {
      width: 100%;
      margin-bottom: 16px;
      img {
        width: 100%;
      }
    }
  }

}
